@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

body {
    background-color: #193A6F;
    
}

h1 {
    font-family: Product Sans;
    text-align: center;
    color: beige;
}
.bio {
    background-color: lightgrey;
    padding: 20px;
  }
.sekolah {
    background-color: slategray;
    padding: 20px;
}
p {
    font-family: Product Sans;
    color: black;
}
table, th, td {
    font-family: Product Sans;
    color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

